about-us.css
body{

	
}
#navbar{
background-color: #333;
  overflow: hidden;
}

#navbar a{
	float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover{
background-color: #e30e4e;
  color: black;
}
#navbar a.active{
background-color: #4CAF50;
  color: black ;
}

#Heading{
	font-weight: bold,italic;
	color: rgb(17,8,2);
	font-size: 20px;
}
#boxing{
	height: 30%
	width: 1000px;
	border: 2px solid black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: linear-gradient(yellow, orange);
	box-shadow: 0px 0px 5px 5px;
}
#bio{
	font-size: 16px;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}
#p1{
	border:solid 8px rgb(255,0,255);
	width: 1035px;
	font-size: 21px;
	background-image: linear-gradient(violet,#35d8fc);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}
#p2{
	border:solid 8px rgb(255,0,255);
	width: 1035px;
	font-size: 21px;
	background-image: linear-gradient(#35d8fc,violet);
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.pic{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 350px;
	border:solid 10px rgb(255,0,255);
}
.header{
	color: #35d8fc;
}
#soil{
	height: 30%
	width: 1000px;
	border: 2px solid black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: linear-gradient(yellow,orange,yellow);
	box-shadow: 0px 0px 5px 5px;
	font-size: 16px;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}
.pic2{
	width: 600px;
}
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-image: linear-gradient(blue,purple);
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}


.subnav-content a:hover {
  background-color: #eee;
  color: black;
}


.subnav:hover .subnav-content {
  display: block;
}
@media only screen
and (max-width: 320px){
#Heading{
	font-weight: bold,italic;
	color: rgb(17,8,2);
	font-size: 1.25em;
}
#bio{
	font-size: 1.25em;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}

@media only screen
and (min-width: 321px)
and (max-width: 480px){
#Heading{
	font-weight: bold,italic;
	color: rgb(17,8,2);
	font-size: 1.25em;
}
#bio{
	font-size: 1.25em;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px){
#Heading{
	font-weight: bold,italic;
	color: rgb(17,8,2);
	font-size: 1.25em;
}
#bio{
	font-size: 1.25em;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}
.goldy{
	font-size: 16px;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}
#outline{
	font-size: 20px;
	color: rgb(17, 8, 2);
	font-weight:bold;
	clear: left;
	font-family: 'Roboto', sans-serif;
}